<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<h1>GCIT Library Management System</h1>
		<p>Welcome to GCIT Library Management System.</p>
		<h3>Hello Administrator! What do you want to do?</h3>
	</div>
	<div class="list-group col-md-3">
		<a class="list-group-item" href="#/admin/authors">View All Authors</a>
		<a class="list-group-item" href="#/admin/publishers">View All Publishers</a>
		<a class="list-group-item" href="#/admin/books">View All Books</a>
		<a class="list-group-item active" href="#/admin/branches">View All Branches</a>
		<a class="list-group-item" href="#/admin/borrowers">View All Borrowers</a>
		<a class="list-group-item" href="#/admin/loans">View All Loans</a><br />
	</div>
	<div class="col-md-9">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Branch Name"
				aria-describedby="basic-addon1" ng-model="searchString" ng-change="searchBranches()">
		</div>
		<button class="btn btn-primary" ng-click='openAddBranchModal()'>Add Branch</button>	
		<div>
			<ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
		</div>
		<table class="table">
			<tr><th>#</th><th>Branch Name</th><th>View Branch</th><th>Edit Branch</th><th>Delete Branch</th></tr>
			<tr ng-repeat="a in branches | startFrom: (currentPage-1)*itemsPerPage | limitTo: itemsPerPage">
				<td>{{$index+1+(currentPage-1)*itemsPerPage}}</td>
				<td>{{a.branchName}}</td>
				<td><button class='btn btn-info' ng-click='openViewBranchModal(a)'>View</button></td>
				<td><button class='btn btn-success' ng-click='openEditBranchModal(a)'>Edit</button></td>
				<td><button class='btn btn-danger' ng-click='openDeleteBranchModal(a)'>Delete</button></td>
			</tr>
		</table>
	</div>
</div>
